<!DOCTYPE html>
<html>
<head>
    <title>My Portfolio - Arshitha</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <h1>Arshitha</h1>
        <p>BCA Student | AI Enthusiast</p>
        <nav>
            <a href="#about">About</a>
            <a href="#skills">Skills</a>
            <a href="#projects">Projects</a>
            <a href="#education">Education</a>
            <a href="/contact">Contact</a>
        </nav>
    </header>

    <section id="about">
        <h2>About Me</h2>
        <p>I am an BCA student at The oxford college of science, passionate about AI, Python development, and web technologies.<br>
           Looking for an opportunity to kick start my career in IT industy.</p>
    </section>

    <section id="skills">
        <h2>Skills</h2>
        <ul>
            <li>Python</li>
            <li>Excel</li>
            <li>HTML,css, MySQL </li>
            <li>Git, GitHub</li>
            <li>SDLC, Agile Methodologies</li>
        </ul>
    </section>
<section id="projects">
    <h2>Projects</h2>
    <div class="project">
        <h3>Uber Rides Data Analysis</h3>
        <p>Analyzed Uber ride data using Python to find peak hours, popular routes, and seasonal demand trends for improved decision-making.</p>
    </div>
    <div class="project">
        <h3>Age & Gender Detection</h3>
        <p>Developed a Python and OpenCV-based deep learning model to predict age and gender from images in real time.</p>
    </div>
    <div class="project">
        <h3>Chatbot using JavaScript</h3>
        <p>Built an interactive chatbot using JavaScript to answer queries dynamically without backend support.</p>
    </div>
</section>

<section id="education">
    <h2>Education</h2>
    <p><strong>BCA (2022–2025):</strong> The Oxford College of Science, Bangalore</p>
</section>

    </section>

    <footer>
        <p>© 2025 Arshitha| All rights reserved.</p>
    </footer>
</body>
</html>
